<div id="chat_holder">

  <div id="chat_title" (click)="togleChat()">
    <span id="text">chat</span>
  </div>

  <span id="unread_counter"
        *ngIf="unreadMessages.length && mess_serv.isConnected()"
        [class.chat_shown]="isShown"
        (click)="onUnreadClick()">
      {{unreadMessages.length > 999 ? '999+' : unreadMessages.length}} {{isShown ? 'new' : ''}}
  </span>

  <div *ngIf="isShown" id="chat_chat">
    <div *ngIf="!mess_serv.isConnected()" id="disconnected">
      <div id="disconnected_value">
        connecting...
      </div>
    </div>

    <span #scroll id="chat_messages" (scroll)="onScroll()">
      <div *ngFor="let message of messages" [class.my_message]="auth.user && message.username === auth.user.username"
           class="message">
          <span id="userName">
            {{auth.user && message.username === auth.user.username ? ':' : ''}}
            {{message.username}}
            {{auth.user && message.username === auth.user.username ? '' : ':'}}
          </span>
          <span id="text">{{message.text}}</span>
      </div>
      </span>
    <span id="input_text">
        <input #textField [(ngModel)]="message" [disabled]="!mess_serv.isConnected()" (keyup.enter)="sendMessage(message)"
               type="text" autofocus>
        <button (click)="sendMessage(message) " id="btn btn-primary">snd</button>
      </span>
  </div>

</div>
