<div *ngIf="auth.getSub()">logged in as {{auth.getSub()}}</div>
<div>
  <button (click)="goBack()" class="btn btn-primary">go back</button>
</div>
<div class="chat_holder">
  <div *ngIf="!mess_serv.connected" class="loading" >
    <div>Connecting...</div>
    <img src="https://loading.io/spinners/ellipsis/lg.discuss-ellipsis-preloader.gif">
  </div>
  <div *ngIf="mess_serv.connected" class="chat_chat">
    <span class="chat_title">chat</span>
    <span #scroll class="chat_messages">
      <div *ngFor="let message of mess_serv.messages" [class.my_message]="message.username === auth.getSub()" class="message">
      <span class="userName">
        {{message.username === auth.getSub() ? ':' : ''}}
        {{message.username}}
        {{message.username === auth.getSub() ? '' : ':'}}
      </span>
      <span class="text">{{message.message}}</span>
      </div>
    </span>
    <span class="input_text">
      <input [(ngModel)]="message" (keyup.enter) = "sendMessage(message)" type="text" autofocus>
      <button (click)="sendMessage(message) " class="btn btn-primary">snd</button>
    </span>
  </div>
</div>
