.chat_chat{
  width: 400px;
  height: 450px;
  background: #688580;
  border: solid black 1px;
  padding: 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.95;
}

.chat_chat .chat_title{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat_chat .chat_messages{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background: #d4ece8;
  height: 100%;
  border: solid #b5d6e2 1px;
  border-radius: 5px;
}


.chat_chat .message{
  background: #ecfff0;
  border:solid #d6d6d6 1px;
  height: fit-content;
  display: flex;
  width: fit-content;
  border-radius: 10px;
  margin: 2px;
}

.chat_chat .message .login{
  min-width: fit-content;
  margin: 7px;
  align-self: flex-start;
  color: #8a8a8a;
  font-style: italic;
  font-size: medium;
}

.chat_chat .message .text{
  color: #1b1b1b;
  text-align: left;
}

.chat_chat .message span{
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-word;
  margin: 7px;
  direction: ltr;
}

.chat_chat .my_message{
  direction: rtl;
  background: white;
  align-self: flex-end;
}
.chat_chat .input_text{
  bottom:0px;
  left:0px;
  width:100%;
  display: flex;
}

.chat_chat .input_text input{
  width:100%;
  box-sizing: border-box;
}

.userName{
  font-style: italic;
  letter-spacing: -1px;
}

.chat_holder .loading{
  opacity: 0.8;
}
