<div id = "wellcome_page">
  <div *ngIf="auth.getSub()">
    <app-top-bar></app-top-bar>
    <!--<app-left-bar></app-left-bar>-->
    <div id = "chat">
      <button (click)="togleChat()" class="btn btn-primary"><a>chat</a></button>
      <app-chat-page *ngIf="chatShown"></app-chat-page>
    </div>

    <div id = "error_popup">
      <app-friendly-errors></app-friendly-errors>
    </div>
  </div>

  <div *ngIf="!auth.getSub()" id="please_login">
    <div>You're not logged in. Please <span><a routerLink="/login">login</a></span>.</div>
  </div>

<button (click)="test()" class="btn btn-primary"><a>test</a></button>
</div>
