#feed_container{
  width: 80%;
  height: calc(100% - 40px);
  display: grid;
  position: absolute;
  right: 0px;
  left: 0px;
  margin: auto;
}

#feed{
  height: 100%;
  width: 100%;
  background: #fffffff2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(999, 120px);
  padding: 0px 50px 0px 50px;
  overflow: auto;
}
.display_column{
  transition: all 1s !important;
  grid-template-columns: 1fr 1fr !important;
  grid-template-rows: repeat(999, 150px) !important;
}

.display_default{
}
#feed_container #controls{
  position: absolute;
  width: 100%;
}
.feed_item{
  justify-content: center;
  align-items: center;
  display: grid;
  border: solid #00000096 0.2px;
  box-sizing: border-box;
  background: #3e47497a;
  margin: 2px 2px -1px -1px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  user-select: none;
  padding: 20px;
}

.description{
  color: white;
  font-size: 120%;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

#feed_container #add_button{
  left: 0px;
  top: 0px;
}
#feed_container #layout_buttons{
  right: 0px;
  top: 0px;
}
#feed_container #controls .buttons{
  background: white;
  position: absolute;
  user-select: none;
  cursor: pointer;
  border: solid #1f2323 3px;
  padding: 0px 7px 0px 7px;
  background: #ececec;
  z-index:10;
}
#load_in_process{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: center;
  background-color: #000000a6;
  opacity: 0.4;
  filter: hue-rotate(500deg) blur(5px);
}
