<h1 mat-dialog-title cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle
>Hi {{data.username}}!</h1>
<div mat-dialog-content>
  <p>How old are you?</p>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="data.age"
           onkeydown="return (event.keyCode !== 69 && event.keyCode !== 190 && event.keyCode !== 188)">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>
