.login_form_container{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  background: #e4e4e4;
}

.login_form{
  width: 20%;
  background: #fbfbfb;
  padding: 22px;
  border: solid gainsboro 1px;
}
